<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="firstname" placeholder="firstname">
        <br>
        <input type="text" name="lastname" placeholder="lastname">
        <br>
        <input type="text" name="email" placeholder="email">
        <br>
        <input type="radio" name="gender" value="male"><label for="gender">Male</label>
        <input type="radio" name="gender" value="female"><label for="gender">Female</label>
        <br>
        <input type="text" name="age" placeholder="age">
        <br>
        <input type="text" name="phone" placeholder="phone">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="password" name="confirmpassword" placeholder="confirmpassword">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>